{#
 # Sharif Judge
 # file: register.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
<!DOCTYPE html>
<html>
<head>
	<title>Register - JobStreet</title>
	<meta content="text/html" charset="UTF-8">
	<link rel="icon" href="{{ base_url("assets/images/favicon.ico") }}"/>
	<link rel="stylesheet" type='text/css' href="{{ base_url("assets/styles/login.css") }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-1.10.2.min.js') }}"></script>
	
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/reveal/reveal.css") }}'/>
	<script type='text/javascript' src="{{ base_url("assets/reveal/jquery.reveal.js") }}"></script>
	<link rel="stylesheet" href="http://dna.jsstatic.com/pi/pi-1.3.15.css">
	{% if jobstreet_email_not_exist %}
		<script type='text/javascript'>
		$(document).ready(function(){
			$('#shj_modal').reveal(
				{
					animationspeed: 300,
				}
			);
		});
		</script>
	{% endif %}
</head>
<body id="body">

{{ form_open('login/register') }}
<div class="alert alert-info" style="font-size:15px">
  Kindly ensure that the email address entered is registered with JobStreet.com.
  If you are not a JobStreet.com member, register <a target="_blank" href="http://myjobstreet.jobstreet.com.my/r.php?eb=15685&url=https://myjobstreet.jobstreet.com.my/registration/simple-signup.php?site=my&language_code=3">HERE</a>
</div>
<div class="box register">

	<div class="judge_logo">
		<a href="{{ site_url() }}"><img src="{{ base_url('assets/images/banner.png') }}"/></a>
	</div>

	<div class="login_form">
		<div class="login1">
			{% if registration_code_required %}
			<p>
				<label for="form_reg_code">Registration Code</label><br/>
				<input id="form_reg_code" type="text" name="registration_code" required="required" autofocus="autofocus" class="sharif_input" value="{{ set_value('registration_code') }}"/>
				{{ form_error('registration_code', '<div class="shj_error">', '</div>') }}
			</p>
			{% endif %}
			<p>
				<label for="form_username">Username</label><br/>
				<input id="form_username" type="text" name="username" required="required" pattern="[0-9A-Za-z]{3,20}" title="The Username field must be between 3 and 20 characters in length, and contain only alpha-numeric characters" class="sharif_input" value="{{ set_value('username') }}"/>
				{{ form_error('username', '<div class="shj_error">', '</div>') }}
			</p>
			<p>
				<label for="form_email">Email</label><br/>
				<input id="form_email" type="email" placeholder="Your JobStreet Email Account" autocomplete="off" name="email" required="required" class="sharif_input" value="{{ set_value('email') }}"/>
				{{ form_error('email','<div class="shj_error">','</div>') }}
			</p>
			<p>
				<label for="form_password">Password</label><br/>
				<input id="form_password" type="password" name="password" required="required" pattern=".{6,200}" title="The Password field must be at least 6 characters in length" class="sharif_input"/>
				{{ form_error('password','<div class="shj_error">','</div>') }}
			</p>
			<p>
				<label for="form_password_2">Retype Password</label><br/>
				<input id="form_password_2" type="password" name="password_again" required="required" pattern=".{6,200}" title="The Password Confirmation field must be at least 6 characters in length" class="sharif_input"/>
				{{ form_error('password_again','<div class="shj_error">','</div>') }}
			</p>
			<p>
				<span style="font-size:14px">[Not a JobStreet.com member ? Register <a target="_blank" href="http://myjobstreet.jobstreet.com.my/r.php?eb=15685&url=https://myjobstreet.jobstreet.com.my/registration/simple-signup.php?site=my&language_code=3">HERE</a>]</span><br/><br/>
				<span style="font-size:14px">By signing up, I have read and agreed to <a target="_blank" href="http://www.jobstreet.com.my/event/code-challenge/jobseeker/rules&regulations.htm">JobStreet.com Contest Rules & Regulations.</a></span>
			</p>
		</div>
		<div class="login2">
			<p style="margin:0;">
				<a href="{{ site_url('login') }}">Login</a> |
				<a href="http://www.jobstreet.com.my/event/code-challenge/jobseeker/home.htm">Home</a>
				<input type="submit" value="Sign Up" id="sharif_submit"/>
			</p>
		</div>
	</div>

</div>
</form>
<div id="shj_modal" class="reveal-modal xlarge">
	<div class="modal_inside">
		<div style="text-align: center;">Email address entered is not registered with JobStreet.com. Please use your registered <a style="color:blue" target="_blank" href="http://myjobstreet.jobstreet.com.my/r.php?eb=15685&url=https://myjobstreet.jobstreet.com.my/registration/simple-signup.php?site=my&language_code=3">JobStreet.com</a> email</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
</body>
</html>